<aside class="filters">
  <section class="filters__section">
    <h5 class="filters__name">Genres</h5>
    <nav class="filters__nav">
      <ul class="filters__list">
        {{#each genres}}
        <a class="filters__link" href="{{ link }}" data-selected="{{ selected }}">
          <li class="filters__item">{{ value }}</li>
        </a>
        {{/each}}
      </ul>
    </nav>
  </section>
  <section class="filters__section">
    <h5 class="filters__name">Languages</h5>
    <nav class="filters__nav">
      <ul class="filters__list">
        {{#each languages}}
        <li class="filters__item">{{ language }}</li>
        {{/each}}
      </ul>
    </nav>
  </section>
  <section class="filters__section">
    <h5 class="filters__name">Formats</h5>
    <nav class="filters__nav">
      <ul class="filters__list">
        {{#each formats}}
        <li class="filters__item">{{ format }}</li>
        {{/each}}
      </ul>
    </nav>
  </section>
</aside>
