<aside class="filters">
  <section class="filters__section">
    <details class="filters__details" {{#unless is_mobile }}open{{/unless}}>
      <summary class="filters__summary">
        <span class="filters__name">Genres</span>
        <span
          class="filters__count"
          data-count-active="{{ count_active filters.genres }}"
        >
          {{ count_active filters.genres }}
        </span>
      </summary>
      <nav class="filters__nav">
        <ul class="filters__list">
          {{#each filters.genres}}
          <li class="filters__item">
            <a
              class="filters__link"
              href="{{ link }}"
              data-filter-selected="{{ selected }}"
            >
              {{ value }}
            </a>
          </li>
          {{/each}}
        </ul>
      </nav>
    </details>
  </section>
  <section class="filters__section">
    <details class="filters__details" {{#unless is_mobile }}open{{/unless}}>
      <summary class="filters__summary">
        <span class="filters__name">Languages</span>
        <span
          class="filters__count"
          data-count-active="{{ count_active filters.languages }}"
        >
          {{ count_active filters.languages }}
        </span>
      </summary>
      <nav class="filters__nav">
        <ul class="filters__list">
          {{#each filters.languages}}
          <li class="filters__item">
            <a
              class="filters__link"
              href="{{ link }}"
              data-filter-selected="{{ selected }}"
            >
              {{ value }}
            </a>
          </li>
          {{/each}}
        </ul>
      </nav>
    </details>
  </section>
  <section class="filters__section">
    <details class="filters__details" {{#unless is_mobile }}open{{/unless}}>
      <summary class="filters__summary">
        <span class="filters__name">Formats</span>
        <span
          class="filters__count"
          data-count-active="{{ count_active filters.formats }}"
        >
          {{ count_active filters.formats }}
        </span>
      </summary>
      <nav class="filters__nav">
        <ul class="filters__list">
          {{#each filters.formats}}
          <li class="filters__item">
            <a
              class="filters__link"
              href="{{ link }}"
              data-filter-selected="{{ selected }}"
            >
              {{ value }}
            </a>
          </li>
          {{/each}}
        </ul>
      </nav>
    </details>
  </section>
</aside>
