<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="en-us" name="language" />
<meta content="Livs Bookstore" name="title" />
<meta content="A simple bookstore" name="description" />
<meta content="bookstore, books" name="keywords" />
<meta content="rodmoi.oliveira@gmail.com" name="reply-to" />
<meta content="Rodolfo Mói, rodmoi.oliveira@gmail.com" name="author" />
<meta content="Rodolfo Mói" name="designer" />
<meta content="Rodolfo Mói" name="copyright" />
<meta content="Rodolfo Mói" name="owner" />
<meta content="Worldwide" name="coverage" />
<meta content="Global" name="distribution" />
<meta content="General" name="rating" />
