.banner {
  font-size: 0.5em;
  background-color: var(--primary-color);
  padding: 0.5em;
}

.banner__title {
  color: var(--color-on-primary);
  text-align: center;
  font-weight: var(--fw-light);
}
