:root {
  --fw-black: 900;
  --fw-light: 300;
  --fw-thin: 100;
  --html-font-size: 1.2rem;
  --primary-font: 'Lato', sans-serif;
  --first-color: #f9f9f9;
  --second-color: #ce1212;
  --third-color: #810000;
  --fourth-color: #1b1717;
  --fifth-color: #c4c4c4;
  --btn-border-radius: 0;
}
