[data-filter-selected='true'] {
  color: var(--third-color);
  font-weight: var(--fw-black);
}

[data-page-selected='true'] {
  color: var(--first-color);
  background: var(--third-color);
  font-weight: var(--fw-black);
}

[data-page-active='false'] {
  pointer-events: none;
}

[data-control-active='false'] {
  cursor: not-allowed;
}

[data-control-active='false'] > a {
  border: 1px solid var(--fifth-color);
  color: var(--fifth-color);
  display: inline-block;
  pointer-events: none;
}
