[data-filter-selected='true'] {
  color: var(--secondary-dark-color);
  font-weight: var(--fw-black);
}

[data-page-selected='true'] {
  color: var(--text-on-primary);
  background: var(--secondary-dark-color);
  border: 1px solid var(--secondary-dark-color);
  font-weight: var(--fw-black);
}

[data-page-active='false'] {
  pointer-events: none;
}

[data-control-active='false'] {
  cursor: not-allowed;
  border: 1px solid var(--grey-400);
  border-radius: var(--btn-border-radius);
  color: var(--grey-400);
}

[data-count-active='0'] {
  visibility: hidden;
}
