.filter-tag__list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0 0 1em 1em;
  flex-wrap: wrap;
}

.filter-tag__item {
  margin: 0 0.3em 0.3em 0;
}

.filter-tag__link {
  text-decoration: none;
  color: var(--fourth-color);
  padding: 0.5em 1em;
  margin: 0;
  display: block;
  border: 1px solid var(--fifth-color);
  border-radius: var(--btn-border-radius);
}
