.filter-tag {
  margin: 0 0 1em 0;
}

.filter-tag__title {
  margin-top: 0;
}

.filter-tag__list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0 0 1em 0;
  flex-wrap: wrap;
}

.filter-tag__item {
  margin: 0 0.3em 0.3em 0;
  border-radius: var(--btn-border-radius);
  background-color: var(--secondary-dark-color);
}

.filter-tag__link {
  text-decoration: none;
  color: var(--color-on-secondary-dark);
  padding: 0.5em 1em 0.5em 0;
  margin: 0;
  display: block;
  display: flex;
}

.filter-tag__text {
  transform: translateY(-0.1em);
}

.filter-tag__remove {
  text-align: center;
  width: 2em;
  display: block;
  position: relative;
}

.filter-tag__remove::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  content: '';
  display: block;
  width: 1em;
  height: 0.2em;
  background-color: var(--color-on-secondary-dark);
}

.filter-tag__remove::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  content: '';
  display: block;
  width: 1em;
  height: 0.2em;
  background-color: var(--color-on-secondary-dark);
}
