.filter-tag__nav {
  font-size: 0.8em;
}

.filter-tag__list {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: 1em;
  flex-wrap: wrap;
}

// .filter-tag__item {}

.filter-tag__link {
  text-decoration: none;
  color: var(--fourth-color);
  padding: 0.5em 1em;
  margin: 0.2em;
  display: block;
  border: 1px solid var(--fifth-color);
  border-radius: var(--btn-border-radius);
}
