.filters {
  border-right: 1px solid var(--fifth-color);
  padding-top: 1em;
  flex: 0 0 17em;
}

.filters__section {
  margin: 0 0 1em 0.5em;
}

.filters__name {
  margin: 0 0 0.2em 0;
  font-weight: var(--fw-black);
}

// .filters__nav {}

.filters__list {
  margin: 0;
  list-style: none;
  padding: 0 1em;
}

// .filters__item {}

.filters__link {
  text-decoration: none;
  color: var(--fourth-color);
}
