.footer {
  background-color: var(--primary-light-color);
  font-weight: var(--fw-light);
  padding: 1em;
  margin-bottom: 1em;
}

.footer__text {
  text-align: center;
  margin: 0;
  color: var(--color-on-primary-light);
}

.footer__link {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: var(--color-on-primary-light);
}
