.header {
  border-bottom: 1px solid var(--third-color);
  background-color: var(--third-color);
  padding: 0.2em;
}

.header__link {
  text-decoration: none;
}

.header__title {
  color: var(--first-color);
  text-align: center;
  font-weight: var(--fw-black);
}
