html {
  font-size: var(--html-font-size);
}

@media (max-width: 1200px) {
  html {
    font-size: calc(
      18px + (20 - 18) * ((100vw - 320px) / (1200 - 320))
    );
  }

  .display {
    padding: 0;
    margin: 1em 0.5em;
  }

  .filter-tag {
    margin: 0 0 0.5em 0;
  }

  .filters {
    border-bottom: 1px solid var(--grey-200);
    border-right: none;
    flex: 1 0 100%;
    padding-bottom: 0.5em;
  }

  .filters__item {
    margin: 0.5em 0;
  }

  .filters__section {
    margin: 0 0 0.5em 0.5em;
  }

  .main {
    flex-wrap: wrap;
  }

  .titles__cover {
    width: 9.75em;
    height: 13em;
  }

  .titles {
    margin-top: 1em;
  }

  .titles__list {
    border-top: 1px solid var(--grey-200);
    padding-top: 1em;
  }
}

@media (min-width: 860px) {
  .pages__progress {
    display: none;
  }
}

@media (max-width: 860px) {
  .pages__count {
    display: none;
  }

  .pages__progress {
    display: block;
  }

  .pages__item {
    margin: 0;
  }

  [data-page-active='true'] {
    display: none;
  }

  [data-page-active='false'] {
    margin: 0 0.3em;
  }

  [data-control-active='true'] {
    margin: 0;
  }
}

@media (max-width: 723px) {
  .title__img {
    flex: 0 0 100%;
  }

  .title__info {
    margin-left: 0;
    flex: 0 0 100%;
  }
}
