.pages__title {
  margin-top: 0;
}

.pages__list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
}

.pages__item {
  margin: 0 0.3em 0 0;
}

.pages__link {
  text-decoration: none;
  color: var(--fourth-color);
  padding: 0.5em 1em;
  margin: 0;
  display: block;
  border: 1px solid var(--fifth-color);
  border-radius: var(--btn-border-radius);
}
