.pages__title {
  margin-top: 0;
}

.pages__list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
}

.pages__item {
  margin: 0 0.3em 0 0;
}

.pages__link {
  border-radius: var(--btn-border-radius);
  border: 1px solid var(--grey-400);
  color: var(--text--on-secondary);
  display: block;
  margin: 0;
  padding: 0.5em 1em;
  text-decoration: none;
}

.pages__span {
  color: var(--grey-400);
  display: block;
  margin: 0;
  padding: 0.5em 1em;
  text-decoration: none;
}
