h1 {
  font-size: 4.2em;
}

h2 {
  font-size: 3.157em;
}

h3 {
  font-size: 2.369em;
}

h4 {
  font-size: 1.777em;
}

h5 {
  font-size: 1.333em;
}

p,
a {
  font-size: 1.2em;
  margin: 0.5em 0;
}

small {
  font-size: 0.75em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.3em 0;
}
