h1 {
  font-size: 2.488em;
}

h2 {
  font-size: 2.074em;
}

h3 {
  font-size: 1.728em;
}

h4 {
  font-size: 1.44em;
}

h5 {
  font-size: 1.2em;
}

p,
a {
  font-size: 1em;
  margin: 0.5em 0;
}

small {
  font-size: 0.833em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.3em 0;
}
