:root {
  // cyan-500
  --primary-color: #37474f;
  --primary-light-color: #62727b;
  --primary-dark-color: #102027;
  --color-on-primary: #fff;
  --color-on-primary-light: #fff;
  --color-on-primary-dark: #fff;

  // purple-a-400
  --secondary-color: #f50057;
  --secondary-light-color: #ff5983;
  --secondary-dark-color: #bb002f;
  --color-on-secondary: #000;
  --color-on-secondary-light: #000;
  --color-on-secondary-dark: #fff;
}
