:root {
  // deep-purple-500
  --primary-color: #673ab7;
  --primary-light-color: #9a67ea;
  --primary-dark-color: #320b86;
  --color-on-primary: #fff;
  --color-on-primary-light: #000;
  --color-on-primary-dark: #fff;

  // red-a-400
  --secondary-color: #ff1744;
  --secondary-light-color: #ff616f;
  --secondary-dark-color: #c4001d;
  --color-on-secondary: #000;
  --color-on-secondary-light: #000;
  --color-on-secondary-dark: #fff;
}
