:root {
  // cyan-500
  --primary-color: #00bcd4;
  --primary-light-color: #62efff;
  --primary-dark-color: #008ba3;
  --color-on-primary: #000;
  --color-on-primary-light: #000;
  --color-on-primary-dark: #000;

  // purple-a-400
  --secondary-color: #d500f9;
  --secondary-light-color: #ff5bff;
  --secondary-dark-color: #9e00c5;
  --color-on-secondary: #000;
  --color-on-secondary-light: #000;
  --color-on-secondary-dark: #fff;
}
