.titles {
  margin: 1.5em 0 0 0;
}

.titles__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.titles__item {
  flex: 0 0 9em;
  margin: 0 1em 1em 0;
  padding: 8em 2em;
  border: 1px solid var(--fifth-color);
  border-radius: var(--btn-border-radius);
  text-align: center;
}
