.title {
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
  padding: 1em;
  max-width: 60em;
  align-items: flex-start;
}

.title span {
  font-weight: var(--fw-black);
}

.title__img {
  border: 1px solid var(--grey-300);
  margin-bottom: 1em;
  max-width: 17em;
  flex: 0 0 50%;
}

.title__info {
  margin-left: 1em;
  flex: 0 0 50%;
}

.title__details {
  flex: 0 0 100%;
}

.title__details h4 {
  border-bottom: 1px solid var(--grey-400);
  color: var(--secondary-dark-color);
}

// .title__id {
// }

// .title__isbn {
// }

.title__author {
  margin: 0 auto;
}

// .title__edition {
// }

// .title__format {
// }

// .title__language {
// }

// .title__genre {
// }

// .title__pages {
// }

// .title__publisher {
// }

.title__summary {
  font-style: italic;
}

.title__title {
  font-weight: var(--fw-black);
  font-size: 2.5em;
  margin: 0 auto;
}

// .title__year {
// }

// .title__weight {
// }

// .title__height {
// }

// .title__width {
// }

// .title__depth {
// }
