.titles {
  margin: 1.5em 0 0 0;
}

.titles__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.titles__item {
  margin: 0 1em 1em 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.titles__cover {
  width: 13.5em;
  height: 18em;
}

.titles__name {
  text-align: left;
  font-weight: var(--fw-black);
  margin-top: 0.5rem;
}

.titles__author {
  text-align: left;
}
