@use 'lato';
@use 'scales_minor_third';
// @use 'scales_perfect_fourth';
@use 'constants';
@use 'header';
@use 'banner';
@use 'footer';
@use 'filters';
@use 'filter-tags';
@use 'pages';
@use 'titles';
@use 'data_attr';
@use 'display';
@use 'summary';
@use 'media';

html {
  font-size: var(--html-font-size);
}

body {
  background-color: var(--first-color);
  color: var(--fourth-color);
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
}
