@use 'partial';
@use 'partial2';

:root {
  --main-bg-color: white;
  --main-color: black;
}

body {
  color: var(--main-color);
  background-color: var(--main-bg-color);
}

ul {
  list-style: none;
  padding: 0;
}
