@use 'scales';
@use 'constants';
@use 'header';
@use 'footer';

html {
  font-size: var(--html-font-size);
}

body {
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}
