{{#if filters.tags }}
<section class="filter-tag">
  <h5 class="filter-tag__title">Filters</h5>
  <ul class="filter-tag__list">
    {{#each filters.tags}}
    <li class="filter-tag__item" data-filter-tag="{{ name }}">
      <a
        class="filter-tag__link"
        href="{{ link }}"
        title="Remove filter {{ name }}:{{ value }}"
      >
        <span class="filter-tag__remove"></span>
        <span class="filter-tag__text">{{ name }}: {{ value }}</span>
      </a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}
