{{#if pagination.pages }}
<section class="pages">
  <h5 class="pages__title">Pages</h5>
  <ul class="pages__list">
    {{#each pagination.prev}}
    <li class="pages__item" data-control-active="{{ active }}">
      {{#if link}}
      <a
        class="pages__link"
        href="{{ link }}"
        title="Previous Page"
        >{{ value }}</a
      >
      {{else}}
      <span class="pages__span" title="Previous Page">{{
        value
      }}</span>
      {{/if}}
    </li>
    {{/each}}
    {{#each pagination.pages}}
    <li class="pages__item">
      <a
        class="pages__link"
        href="{{ link }}"
        title="Page {{ value }}"
        data-page-active="{{ active }}"
        data-page-selected="{{ selected }}"
      >
        <span class="pages__count">{{ value }}</span>
        <span class="pages__progress"
          >{{ value }} of {{ ../pagination.page_total }}</span
        >
      </a>
    </li>
    {{/each}}
    {{#each pagination.next}}
    <li class="pages__item" data-control-active="{{ active }}">
      {{#if link}}
      <a class="pages__link" href="{{ link }}" title="Next Page">{{
        value
      }}</a>
      {{else}}
      <span class="pages__span" title="Next Page">{{ value }}</span>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}
