/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/static/fonts/S6u8w4BMUTPHh30AUi-qNiXg7eU0.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/static/fonts/S6u8w4BMUTPHh30AXC-qNiXg7Q.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/static/fonts/S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/static/fonts/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/static/fonts/S6u9w4BMUTPHh50XSwaPGQ3q5d0N7w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/static/fonts/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
h1 {
  font-size: 2.488em;
}

h2 {
  font-size: 2.074em;
}

h3 {
  font-size: 1.728em;
}

h4 {
  font-size: 1.44em;
}

h5 {
  font-size: 1.2em;
}

p,
a {
  font-size: 1em;
  margin: 0.5em 0;
}

small {
  font-size: 0.833em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.3em 0;
}

:root {
  --fw-black: 900;
  --fw-light: 300;
  --fw-thin: 100;
  --html-font-size: 1.2rem;
  --primary-font: "Lato", sans-serif;
  --first-color: #f9f9f9;
  --second-color: #ce1212;
  --third-color: #810000;
  --fourth-color: #1b1717;
  --fifth-color: #c4c4c4;
  --btn-border-radius: 0.5em;
}

.header {
  border-bottom: 1px solid var(--third-color);
  background-color: var(--third-color);
  padding: 0.2em;
}

.header__link {
  text-decoration: none;
}

.header__title {
  color: var(--first-color);
  text-align: center;
  font-weight: var(--fw-black);
}

.footer {
  border-top: 1px solid var(--third-color);
  border-bottom: 1px solid var(--third-color);
  background-color: var(--third-color);
  font-weight: var(--fw-light);
  padding: 1em;
  margin-bottom: 1em;
}

.footer__text {
  text-align: center;
  margin: 0;
  color: var(--first-color);
}

.footer__link {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: var(--first-color);
}

.filters {
  border-right: 1px solid var(--fourth-color);
  padding-top: 1em;
  flex: 0 0 17em;
}

.filters__section {
  margin: 0 0 1em 0.5em;
}

.filters__name {
  margin: 0;
  font-weight: var(--fw-black);
}

.filters__list {
  margin: 0;
  list-style: none;
  padding: 0 1em;
}

.filters__link {
  text-decoration: none;
  color: var(--fourth-color);
}

.filter-tag__list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0 0 1em 1em;
  flex-wrap: wrap;
}

.filter-tag__item {
  margin: 0 0.3em 0.3em 0;
}

.filter-tag__link {
  text-decoration: none;
  color: var(--fourth-color);
  padding: 0.5em 1em;
  margin: 0;
  display: block;
  border: 1px solid var(--fifth-color);
  border-radius: var(--btn-border-radius);
}

.pages__list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0 0 0 1em;
  flex-wrap: wrap;
}

.pages__item {
  margin: 0 0.3em 0 0;
}

.pages__link {
  text-decoration: none;
  color: var(--fourth-color);
  padding: 0.5em 1em;
  margin: 0;
  display: block;
  border: 1px solid var(--fifth-color);
  border-radius: var(--btn-border-radius);
}

.titles__list {
  list-style: none;
  padding: 0 0 0 1em;
  margin: 1.5em 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.titles__item {
  flex: 0 0 9em;
  margin: 0 1em 1em 0;
  padding: 8em 2em;
  border: 1px solid var(--fifth-color);
  border-radius: var(--btn-border-radius);
  text-align: center;
}

[data-filter-selected=true] {
  color: var(--third-color);
  font-weight: var(--fw-black);
}

[data-page-selected=true] {
  color: var(--first-color);
  background: var(--third-color);
  font-weight: var(--fw-black);
}

[data-page-active=false] {
  pointer-events: none;
}

[data-control-active=false] {
  cursor: not-allowed;
}

[data-control-active=false] > a {
  border: 1px solid var(--fifth-color);
  color: var(--fifth-color);
  display: inline-block;
  pointer-events: none;
}

.display {
  padding-top: 1em;
  flex: 1;
}

html {
  font-size: var(--html-font-size);
}

body {
  background-color: var(--first-color);
  color: var(--fourth-color);
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
}

/*# sourceMappingURL=main.css.map */
