<!DOCTYPE html>
<html lang="en">
  {{> components/head }}
  <body>
    {{> sections/header }}
    <main class="main">
      <aside class="filters">
        <section class="filters__section">
          <h5 class="filters__name">Genres</h5>
          <nav class="filters__nav">
            <ul class="filters__list">
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
            </ul>
          </nav>
        </section>
        <section class="filters__section">
          <h5 class="filters__name">Genres</h5>
          <nav class="filters__nav">
            <ul class="filters__list">
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
            </ul>
          </nav>
        </section>
        <section class="filters__section">
          <h5 class="filters__name">Genres</h5>
          <nav class="filters__nav">
            <ul class="filters__list">
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
              <li class="filters__item">genre</li>
            </ul>
          </nav>
        </section>
      </aside>
      <section class="display">
        <ul>
          <li><a href="/formats">Formats</a></li>
          <li><a href="/genres">Genres</a></li>
          <li><a href="/languages">Languages</a></li>
          <li><a href="/titles">Titles</a></li>
        </ul>
      </section>
    </main>
    {{> sections/footer }}
  </body>
</html>
