<!DOCTYPE html>
<html lang="en">
  {{> components/head }}
  <body>
    {{> sections/header }}
    {{> sections/banner }}
    <main class="main">
      <section class="title">
        <img
          alt="Cover of the book {{ title }}"
          loading="lazy"
          src="{{ assets }}/static/img/{{ title.cover }}"
          class="title__img"
        />
        <section class="title__info">
          <p class="title__title">{{ title.title }}</p>
          <p class="title__author">from {{ title.author }}</p>
          <p class="title__summary">{{ title.summary }}</p>
        </section>
        <section class="title__details">
          <h4>Classification</h4>
          <p class="title__format">
            <span>Format:</span> {{ title.format }}
          </p>
          <p class="title__genre">
            <span>Genre:</span> {{ title.genre }}
          </p>
          <p class="title__language">
            <span>Language:</span> {{ title.language }}
          </p>
        </section>
        <section class="title__details">
          <h4>Details</h4>
          <p class="title__isbn">
            <span>ISBN:</span> {{ title.isbn }}
          </p>
          <p class="title__edition">
            <span>Edition:</span> {{ title.edition }}
          </p>
          <p class="title__pages">
            <span>Pages:</span> {{ title.pages }}
          </p>
          <p class="title__publisher">
            <span>Publisher:</span> {{ title.publisher }}
          </p>
          <p class="title__year">
            <span>Year:</span> {{ title.year }}
          </p>
        </section>
        <section class="title__details">
          <h4>Measures</h4>
          <p class="title__weight">
            <span>Weight:</span> {{ measure.weight }}
          </p>
          <p class="title__height">
            <span>Height:</span> {{ measure.height }}
          </p>
          <p class="title__width">
            <span>Width:</span> {{ measure.width }}
          </p>
          <p class="title__depth">
            <span>Depth:</span> {{ measure.depth }}
          </p>
        </section>
      </section>
    </main>
    {{> sections/footer }}
  </body>
</html>
